<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Usertlist</title>
    <link rel="shortcut icon" type="image/png" href="img/logo.ico" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="js/UserList.js"></script>
   </head>
<body>
    <header>
    </header>
    <nav>
        <ul>
            <li><a href="UserList.html">User</a></li>
            <li><a href="ArticleList.html">Article</a></li>
            <li><a href="CommentList.html">Comment </a></li>
        </ul>
    </nav>
    <Section >
        <article class="left">
            <div class="row">
                <div class="title" id="Title"></div>
                <div style=" padding:2%;">
                    <button onclick="window.location.href='UserAdd.html'">Add User</button><br><br>
                    <dialog id="show" style="display: none; z-index: 1">
                        <form method="dialog">
                          <p>
                            <label for="fname">ID:</label>
                            <input type="text" id="ID" name="fname" disabled style="float: right;margin-left: 10px;"><br><br>
                              <label for="fname">DisplayName:</label>
                              <input type="text" id="DisplayName" name="fname" style="float: right;margin-left: 10px; "><br><br>
                              <label for="lname">Email:</label>
                              <input type="text" id="Email" name="lname" style="float: right;margin-left: 10px;"><br><br>
                              <label for="fname">Phone:</label>
                              <input type="text" id="Phone" name="fname" style="float: right;margin-left: 10px;"><br><br>
                              <label for="lname">DateOfBirth:</label>
                              <input type="text" id="DateOfBirth" name="lname" style="float: right;margin-left: 10px;"><br><br>
                              <label for="fname">Address:</label>
                              <input type="text" id="Address" name="fname" style="float: right;margin-left: 10px;"><br><br>
                            </form>
                          </p>
                          <div >
                            <button id="cancel" onclick=CloseEditUserConfirm()>Cancel</button>
                            <button id="confirmBtn" style="float: right;" onclick=EditUserConfirm()>Confirm</button>
                          </div>
                        </form>
                      </dialog>
                    <table id="UserList" class="display" style="width:90% ;margin:auto">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Display Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Date OF Birth</th>
                                <th>Address</th>
                                <th>Button</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div><!-- /.row -->

        </article>
    </Section>
    
    <div>
        <footer>
            <p class="foot">HienTriet &copy; 2022</p>
        </footer>
    </div>
</body>

</html>