<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Usertlist</title>
    <link rel="shortcut icon" type="image/png" href="img/logo.ico" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="js/UserAdd.js"></script>
   </head>
   <style>
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: rgb(108, 87, 248);
    }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    li a:hover {
      background-color: #111;
    }
    </style>
<body>
    <div >
        <ul>
            <li><a class="active" href="index.html">Home</a></li>
            <li><a href="Edit.html">User</a></li>
            <li><a href="UserAdd.html">AddUser</a></li>
            <li><a href="#about">About</a></li>
          </ul>
    </div>  
    <Section>
        <article class="left">
            <div class="row">
                <div class="title" id="Title"></div>
                <div style=" padding:5%;">
                    <div>
                       <p>Thêm người dùng mới:</p>
                    </div>
                    <button ><a href="UserAdd.html">Add User</a></button><br><br>
                    <table id="UserList" class="display" style="width:90% ;margin:auto">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Display Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Date OF Birth</th>
                                <th>Address</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div><!-- /.row -->

        </article>
    </Section>
    
</body>

</html>